.timer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.field:not(:last-child) {
  margin-right: 50px;
}

.value {
  font-size: 45px;
}
